# Configuración del Servidor
PORT=3001
NODE_ENV=development

# Jobber API
JOBBER_CLIENT_ID=tu_jobber_client_id
JOBBER_CLIENT_SECRET=tu_jobber_client_secret
JOBBER_REDIRECT_URI=http://localhost:3001/auth/jobber/callback

# QuickBooks API
QUICKBOOKS_CLIENT_ID=tu_quickbooks_client_id
QUICKBOOKS_CLIENT_SECRET=tu_quickbooks_client_secret
QUICKBOOKS_REDIRECT_URI=http://localhost:3001/auth/quickbooks/callback

# Firebase Configuration
FIREBASE_PROJECT_ID=tu_firebase_project_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTu_private_key_aqui\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=tu_firebase_client_email@project.iam.gserviceaccount.com

# URLs de las APIs
JOBBER_API_URL=https://api.getjobber.com/api/graphql
QUICKBOOKS_API_URL=https://api.intuit.com/graphql
QUICKBOOKS_TOKEN_URL=https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer 